.resizable-table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.resizable-table th,
.resizable-table td {
  min-width: 50px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 8px;
  box-sizing: border-box;
}

.resizable-table th {
  position: relative;
}

.resizer {
  display: inline-block;
  width: 2px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  cursor: col-resize;
  background-color: gray;
  user-select: none;
}

.cell-content {
  overflow-x: auto;
  white-space: nowrap;
}

.table-row {
  cursor: pointer;
}

.table-row:hover {
  border-bottom: 1px solid #ccc;
  background-color: #222;
}
